.home {
  position: relative;
  width: 70%;
  margin: 0 auto;
  margin-top: 190px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.home-venues {
  position: relative;
  flex: 2;
  margin-right: 40px;
}

.home-recent-searches {
  position: relative;
  flex: 1;
}

@media screen and (max-width: 1200px) {

  .home {
    width: 80%;
  }

}

@media screen and (max-width: 1100px) {

  .home {
    width: calc(100% - 40px);
    margin-top: 170px;
    padding-bottom: 0;
  }

  .home-venues {
    margin-right: 20px;
  }

}

@media screen and (max-width: 860px) {

  .home {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .home-venues {
    flex: initial;
    width: 100%;
    margin-right: 0;
  }

  .home-recent-searches {
    flex: initial;
    width: 100%;
  }

}

@media screen and (max-width: 700px) {

  .home {
    margin-top: 385px;
  }

}